{% set title = 'ERS11851_EBA-Process-Overview' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#ffffff">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                      <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
                      <p style="margin: 0 0 16px;">The process following the draft EBA distribution to employees is as follows in the attached flow chart.
                      <p style="margin: 0 0 16px;">Note that employees must receive their ‘Notice of Representational Rights’ 21 days before the vote can occur.</p>
                      <p style="margin: 0 0 16px;">A copy of the agreement must be provided to employees 8 days before the vote and the agreement must be explained in terms they can understand taking into account things such as age, language etc.</p>
                      <p style="margin: 0 0 16px;">After the vote, you have 14 days to lodge the agreement to the Fair Work Commission awaiting approval.</p>
                      <p style="margin: 0 0 16px;">Hope this helps.</p>
                      <p style="margin: 0 0 16px;">[DELETE IF EPAS/WS]Please note: Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price. Any work in excess of these two hours is billable at hourly rates.</p>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
</table>
{% endblock %}
