{% set title = 'ERS11851_EBA-FWC0-Reponse-Important-Note' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<tr>
<td bgcolor="#ffffff">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td style="padding: 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
<p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
<p style="margin: 0 0 16px;">We have received a response from the Fair Work Commission in relation to your EBA application.</p>
<p style="margin: 0 0 16px;">We have drafted a response to their concerns - please see attached.</p>
<p style="margin: 0 0 16px;">Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price.</p>
<p style="margin: 0 0 16px;">Any work in excess of these two hours is billable at hourly rates. Please see the attached schedule of our current hourly rates.</p>
<p style="margin: 0 0 16px;">The work we have completed to date for $contacts-accountid$ has now exceeded the included two hours and all future work will be billed at our hourly rates.</p>
<p style="margin: 0 0 16px;">Please reply via return email your acknowledgment and acceptance of the above terms, as no further work can be completed prior to receiving your emailed acknowledgment and acceptance of potential additional costs.</p>
<p style="margin: 0 0 16px;">Should you have any queries with regard to this email please don’t hesitate to contact me.</p>
</td>
</tr>
</table>
</td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
