{% set title = 'ERS11851_EBA-F17-Doc-and-agreement-Sigs' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<tr>
<td bgcolor="#ffffff">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td style="padding: 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
<p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
<p style="margin: 0 0 16px; font-weight: normal;">Congratulations on a successful vote for the Agreement!</p>
<p style="margin: 0 0 16px; font-weight: normal;">The next step in the approval process is for you to sign the Agreement and the F17 declaration (Employer&#39;s declaration in support of an application for approval of an EA) and send them back to us.</p>
<p style="margin: 0 0 16px; font-weight: normal;">Attached is a final copy of the Agreement and F17 declaration. If you could please print them off and sign the last pages to be scanned back to us.</p>
<p style="margin: 0 0 16px; font-weight: normal;">You and [employee representative] need to sign the Agreement.</p>
<p style="margin: 0 0 16px; font-weight: normal;">The F17 declaration must be signed by you and it must be witnessed by an authorised person (i.e. JP, police officer, lawyer, accountant, etc.) Here is a <a href="http://www.austlii.edu.au/au/legis/cth/consol_reg/sdr1993389/sch2.html" style="text-decoration: none; color:#bd9b04; font-weight:bold ">full list of authorised persons. </a></p>
<p style="margin: 0 0 16px; font-weight: normal;">We have 14 days from the date the voting period closed to lodge all the necessary documents, which will be the XXXX. If you could sign the documents and have them back to us as soon as possible we can complete the lodgement process.</p>
<p style="margin: 0 0 16px; font-weight: normal;">[DELETE IF EPAS/WS]Please note: Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price. Any work in excess of these two hours is billable at hourly rates.</p>
<p style="margin: 0 0 16px; font-weight: normal;">If you have any further questions please let us know.</p>
</td>
</tr>
</table>
</td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
