{% set title = 'ERS11851_Welcome_to_ER_Strategies_Workshield-Franchisee' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: bold;">Dear [Franchise Name]</p>

        <p style="margin: 0 0 16px; font-weight: normal;">The [Franchise Name] franchisors has recently engaged our services to assist all [Franchise Name] franchisees with their Employee Relations needs.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">This service now gives you access to specialist consultants and telephone advice to assist with issues including, but not limited to:</p>

        <p style="margin: 0 0 16px; font-weight: normal;"><span style="color: #7a003c;">&bull; </span>Employee pay rates and conditions<br />
        <span style="color: #7a003c;">&bull; </span>Legislative obligations<br />
        <span style="color: #7a003c;">&bull; </span>Practical advice on how to deal with difficult staff<br />
        <span style="color: #7a003c;">&bull; </span>Performance management and appraisal systems<br />
        <span style="color: #7a003c;">&bull; </span>Policy advice</p>

        <p style="margin: 0 0 16px; font-weight: normal;">To access our advice, simply call <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">1300 55 66 37</a> (or <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">02 8907 3888</a> in Sydney) to speak with one of our consultants.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Also available to all franchisees of [Franchise Name] is full library of HR-related documentation to help you run a productive workplace while avoiding unnecessary legal problems. This is accessed via our Online HR Resources, which is detailed below.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Attached is a flyer outlining information about ER Strategies, and the services provided under WorkShield that you now have access to including the Telephone Advisory Service and your login details for Online HR.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Additional information regarding the [Franchise Name] Employee Helpline will further be provided to you as it becomes available.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555">
        <h2 style="margin: 0 0 16px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">Your Online HR Resources Access</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">Included in your membership is access to our special Online HR Resources Service for your business.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">To access this system, please follow this URL address: <a href="http://www.erstrategies.com.au/user" style="text-decoration: none; color:#bd9b04; font-weight:bold ">www.erstrategies.com.au/user</a></p>

        <p style="margin: 0 0 16px; font-weight: bold;">You then need to enter the following unique login details:</p>

        <p style="margin: 0 0 16px; font-weight: normal;"><strong>Username:</strong> [INSERT USERNAME]<br />
        <strong>Password:</strong> [INSERT PASSWORD]</p>

        <p style="margin: 0 0 16px; font-weight: normal;">***Please refrain from changing this password, as it is designed to be used across the entire [Franchise Name] network.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Click <strong>&#39;Log in&#39;</strong> and you will gain access to the Online HR Service. Here you will find a host of resources including links to awards and any enterprise bargaining agreement you may have in place, as well as HR documentation such as employment contracts and draft policies and procedures.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">If you have any problems or questions, please contact us <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">02 8907 3888</a> or <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">1300 55 66 37.</a></p>

        <p style="margin: 0 0 16px; font-weight: normal;">Our best regards and once again, thanks for joining with us at ER Strategies and our WorkShield service.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
