{% set title = 'ERS11851_In_House_Intensives_and_EBAMs' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Thanks for enquiring and my apologies but at this stage, we have not set a date for our next public EBA Masterclass. Our Masterclasses unfortunately are only normally conducted in Sydney (except for in-house courses, which can be run virtually anywhere).</p>

        <p style="margin: 0 0 16px; font-weight: normal;">We realise we do need to become better marketers, which we plan to do when we stop being so busy!?</p>

        <p style="margin: 0 0 16px; font-weight: normal;">To provide you with other options, I have taken the liberty of providing you with information about our in-house services, being either.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;"><a href="https://enterprisebargaining.com.au/services/enterprise-agreements-house-intensive-programs" style="text-decoration: none; color:#7a003c; font-weight:bold ">An EBA Negotiations &ldquo;Intensive&rdquo;</a></h2>

        <p style="margin: 0 0 30px; font-weight: normal;">In the Intensive, we cover your bargaining environment, strategy development, commence your detailed planning, and in any time left over, consider the bargaining tactics likely to be used against you in the negotiations and how you might respond.</p>

        <h2 style="margin: 0 0 20px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;"><a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqH85uP-2FKE2vKJXL0hs9Vg6jN3Y23HNHsjUc8mmyC-2FWFNDI0gG8Jfge49MMYk1NJ9K-2FAAeEf5ZvFPqptaHvSLiJOUtbbfWWcm9yrb35OyKtjFaqgqIA0jAp-2FW9neB8ikcg-3D-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp-2FmWLnrQcLdSKGVdqb4SlyTXitGyEsYdXZ1R3MGsrc3ulbmg1As8-2FwSSKTDjfe9scy1eWgeQSr4oHNXtNTJdanlCjrbsHvFd4u3u6SR7b6rxtlpOGZdGU0LlydiVYODI9acm8cZNKt54cQ3dRd-2BH7A3c3ePFZVU3RsDwsfDLdRTefoGWb6eYSPkUS0YORmHUM-3D" style="text-decoration: none; color:#7a003c; font-weight:bold ">An EBA Negotiations Strategy and Tactics Masterclass</a></h2>

        <p style="margin: 0 0 16px; font-weight: normal; color: #7a003c"><strong>Intensive Pricingfor the Intensives are detailed here:</strong></p>

        <p style="margin: 0 0 16px; font-weight: normal;">Full-day sessions are $6,450 for one consultant (myself, or we can provide you with pricing for two senior consultants if you require).</p>

        <p style="margin: 0 0 16px; font-weight: normal;">We also prepare a full report detailing the ground covered and outcomes from the intensive. However, we can offer a further $1,500 price reduction to $4,950 (single consultant price) if we do not provide the written report.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Half-day sessions with a single consultant would be $4,750, or a further $1,250 price reduction to $3,500 if we are not required to provide the written report.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">You must pay a 50% deposit within 7 days of invoice to reserve the Intensive dates, with our final invoice including travel and accommodation etc expenses payable within 7 days of invoice issued after the Intensive.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">We would work with you beforehand to get a sufficiently good grasp of your issues to ensure the workshop was a success in meeting your EBA planning needs.</p>

        <p style="margin: 0 0 16px; font-weight: normal;"><strong>Please note</strong> that direct travel and accommodation expenses are an additional charge.</p>

        <p style="margin: 0 0 30px; font-weight: normal;">This link also provides <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqH85uP-2FKE2vKJXL0hs9Vg78rkpYau6ZBO-2FRvF8WB49C4jnuPlNLPZnirXFaqjFWRKl58uBA73yfLA-2FfFw1UoeT5u2wtW8zHqbEr-2FPLLrht-2FKujb35WTTTMMezqmDWHIwg-3D-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp-2FmWLnrQcLdSKGVdqb4SlyTXitGyEsYdXZ1R3MGsrc3t0GUskmhfas8uwkb-2BQQQ1dK7CLMaeb0RNA6C9RKJD5ggaDQbIH0rykflDB0w705j-2BcHdcbb26BL7mnRHunlVWENDQf7MY7pvU5rRWtwQCE3obZbJcSPHT0FRoINOwjb5EXH4RCVoHP6lw3hJMVTX-2FY-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">information about the model</a> we use in the Masterclasses and also the in-house strategy sessions.</p>

        <p style="margin: 0 0 16px; font-weight: normal; color: #7a003c"><strong>Intensive Pricingfor the Intensives are detailed here:</strong></p>

        <p style="margin: 0 0 16px; font-weight: normal;">Cost to you for the in-house course is $16,500 (GST incl.) for up to 8 participants, plus where required reasonable travel, and where required 2 nights accommodation and meals for the 2 presenters (normally Fred Bolling and myself). You are also responsible for venue arrangements, such as meeting room hire, data projector, meals and refreshments and other requirements. You must pay a 50% deposit within 7 days of invoice to reserve the EBAM dates, with our final invoice including travel and accommodation etc expenses payable within 7 days of invoice issued after the event.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Note we offer a special &lsquo;early bird&rsquo; discounted rate of $14,500 where 100% payment is received in advance.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">You can also choose to pay via credit card if you wish, as long as we are reimbursed our estimated merchant fee as part of the transaction.</p>

        <p style="margin: 0 0 0px; font-weight: normal;">You are welcome to get people from other companies or organisations to attend and use that income to offset your costs, if you so wish.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#7a003c">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">Want to proceed?</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">If you wish to proceed with either the In-house Intensive or Masterclass, please respond to this email advising this and we will prepare your invoice for 50% of the amount as a deposit, or we can provide the &lsquo;early bird&rsquo; EBAM invoice if you would prefer to take advantage of that option.</p>

        <p style="margin: 0 0 0px; font-weight: normal;">Alternatively, I would be delighted to talk to you further about your situation and how we might be able to assist.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END -->

</table>
{% endblock %}
