{% set title = 'ERS11851_EBA-Lodgement-of-Enterprise-Agreement-to-Commission-completed' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<tr>
<td bgcolor="#ffffff">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td style="padding: 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
<p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
<p style="margin: 0 0 16px;">Just confirming we lodged your Enterprise Agreement and relevant documents with the FWC today for approval.</p>
<p style="margin: 0 0 16px;">In accordance with the Fair Work Commission Rules 2013 the next step is that you must notify all employees who will be covered by the Agreement that an application has been made to the Commission for the approval of the Agreement.</p>
<p style="margin: 0 0 16px;">The notification can be made through the usual means by which you communicate with your employees, such as email or a note on their payslips.</p>
<p style="margin: 0 0 16px;">In accordance with the rules, I have attached the documents that were lodged to the Commission.</p>
<p style="margin: 0 0 16px;">We will let you know when we hear from the Commission regarding approval of your Agreement or otherwise.</p>
<p style="margin: 0 0 16px;">[DELETE IF EPAS/WS]Please note: Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price. Any work in excess of these two hours is billable at hourly rates.</p>
<p style="margin: 0 0 16px;">In the meantime, please contact us if you have any further questions.</p>
</td>
</tr>
</table>
</td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
