{% set title = 'ERS11851_EBA-Template-Fixed-Quote' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#ffffff">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                  <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
                  <p style="margin: 0 0 16px; font-weight: normal;">Thank you for enquiring today about how ER Strategies and <a href="http://www.enterprisebargaining.com.au/" style="text-decoration: none; color:#bd9b04; font-weight:bold ">www.enterprisebargaining.com.au</a> can assist you to meet your employee relations and human resource compliance needs. Specifically, the options for assisting you with creating an enterprise agreement for your security, driving, safety and traffic management business.</p>
                  <p style="margin: 0 0 0px; font-weight: normal;">Our <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqrBloLMTVi4neC2m-2Fb7m26f3b01rT9V4F2imncjU4sCHqZ6r7YgDHSn7qV0AeaFVHhPtm6HxEL7OtGT4Peud0k-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp4QoTtsDVL7r0CcK5rmj9-2BVYefoSxvHtHl6X18E166F4J2YJ7TagciNib-2BoaYime8eTw4-2F4FOClQZzIJcnu7VG5yLMJgOif5SYcGsMI23t5oW-2F5i9HkSqs8sZ3kDO1hFry-2BZMnbrB8-2Bxc12sMAFPD8OQv8CVLOYpBW9-2BzqMwQAPDYzrFQUfAIR-2Babca-2Frlj0o-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">ER Strategies</a> and <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqrBloLMTVi4neC2m-2Fb7m26v6mkyihXndW68iYoTjVoHCpG9rSBWRveJVwbSYRvbwzF896lpWnVtinctZBdWBgo-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp4QoTtsDVL7r0CcK5rmj9-2BVYefoSxvHtHl6X18E166F2ZOrbqBD4-2FqhUGrkeOL-2BTLgNIEVuZVEeKC8x7wGuDY4A4lf6DE7h3BoI1OibSmiqtwjbc8b31FuKyspVVcOJ4sPXU9Szo-2Bwpl6koGiOsvhXTOYxGviNbgaaQDMu0UGInYiKeB37VG7aOOcYPiyDU3I-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">Enterprise Bargaining</a> websites include general information about how we can help employers such as your company, as well as a wealth of free articles about important ER and enterprise bargaining issues and developments.</p>

                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#F9F9F9">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                    <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">
                      Semi-fixed Price Arrangement
                    </h2>
        						<p style="margin: 0 0 16px">We have provided below details of our “semi-fixed” price deal on creating standard enterprise agreements.</p>
        						<p style="margin: 0 0 16px">The price would vary for unexpected changes such as a union becoming involved, which led to lengthy negotiations, or for significant alterations to the drafting of the agreement at your request (other than correcting any errors we have made of course). We estimate that based on work we have done on agreements with similar characteristics to yours, the cost would be $7,500 (GST incl.) We also can offer a $500 (gst incl.) discount off EBA work to any client that chooses to pay the full amount in advance.</p>
                    <p style="margin: 0 0 16px; font-weight: bold;">There are 3 stages of payment for our semi-fixed price EBA:</p>

                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="top" width="20%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <span style="font-weight: bold">Stage 1</span>
                        </td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <p style="margin: 0px 0px 10px; font-weight: normal;">
                            A payment of $1,500 (gst incl.) is required upfront before any work is done.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="20%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <span style="font-weight: bold">Stage 2</span>
                        </td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <p style="margin: 0px 0px 10px; font-weight: normal;">
                            Work to completion of the draft agreement, including calculations for ‘BOO-Test’ purposes. Invoice to be issued to client for 50% of balance outstanding which must be paid before the draft is released to client.
                          </p>
                        </td>
                      </tr>
                      <tr>
                        <td valign="top" width="20%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <span style="font-weight: bold">Stage 3</span>
                        </td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                          <p style="margin: 0px 0px 10px; font-weight: normal;">
                            Work up to lodgement of agreement. Invoice for outstanding balance to be issued to client after draft is released and payable before lodgement of your agreement. Your account must be paid within the 14 days to enable us to meet your lodgement obligations under the Fair Work Act.
                          </p>
                        </td>
                      </tr>
                    </table>
						        <p style="margin: 0 0 16px; font-weight: normal;">This pricing includes drafting of the agreement and all required employee notices, explanatory notes explaining the effect of the agreement, stat decs required upon lodgement, etc.</p>
                    <p style="margin: 0 0 16px; font-weight: normal;"><i><strong>Please Note</strong> - Up to two (2) hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test have been included in this fixed quote. Any work in excess of two hours may be invoiced at hourly rates.</i></p>
                    <p style="margin: 0 0 16px; font-weight: normal;"><strong>Hourly Rates</strong> - I have also attached a copy of our standard hourly rate terms in case you wish to proceed on that basis or the work involved in dealing with the Fair Work Commission exceeds 2 hours.</p>
        						<p style="margin: 0 0 0px; font-weight: normal;"><strong>EPAS Service</strong> &ndash; <a href="http://erstrategies.com.au/services/employer-protection-advisory-service" style="text-decoration: none; color:#bd9b04; font-weight:bold ">follow this link</a> to more information about our full EPAS service, which includes a generous component of included consulting time which could also be applied to your EBA.</p>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
  <!-- 1 Column Text : BEGIN -->
		<tr>
			<td bgcolor="#7a003c">
			<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
				<tbody>
					<tr>
						<td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
						<h2 style="margin: 0 0 16px; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">Can We Further Assist?</h2>
						<p style="margin: 0; font-weight: normal;">If I have missed anything or you would like to discuss the detail of what I have said above, please don&rsquo;t hesitate to call me on <a href="#" style="text-decoration: none; color:#bd9b04; font-weight:bold ">1300 55 66 37.</a></p>
						If you would like to proceed with our services, simply email me with your company details (Company name and ABN) to get things underway and the first invoice will be issued. Please advise if you want to pay in advance and receive the additional discount.
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<!-- 1 Column Text : END -->
</table>
{% endblock %}
