{% set title = 'ERS11851_EOI for Desk Audits
' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Thank you for your interest in participating in ER Strategies&#39; Desktop Audit Service.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">This service provides an office based review of your payroll and rostering systems to ensure you are using the correct pay rates and rostering/timesheet principles under your applicable Agreement or Award and the NES (National Employment Standards).</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 10px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">What will our Auditors check as part of the Audit?</h2>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- Bullet List : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 10px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto" width="100%"><!-- Entry : BEGIN -->
          <tbody>
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Industrial Instrument coverage (the relevant Award or Agreement that covers your employees) is correct</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Base rates of pay and penalty rates for all employees are correct</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Rostering provisions under the Industrial Instrument are being adhered to</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Any applicable allowances are being paid (e.g. uniform allowances, meal, higher duties payments)</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Leave accruals are correct</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Superannuation accruals are correct</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Required information on payslips is correct</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Contracts do not contain misleading or incorrect terms and conditions</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Note: we check the rates/rosters of one full payroll cycle (for most stores this is weekly or fortnightly)</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. -->
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- Bullet List : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 10px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <h2 style="margin: 0 0 16px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">How the audit works</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">You must fill out our <a href="https://www.surveymonkey.com/r/NNYVQPG" style="text-decoration: none; color:#bd9b04; font-weight:bold ">online Desk Audit Service form</a>, which asks general questions about your business profile and required information to complete the audit.</p>
        You upload the required documents online (using the instructions provided so you include all required information for us to conduct the audit), including:

        <p>&nbsp;</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- Bullet List : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 10px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto" width="100%"><!-- Entry : BEGIN -->
          <tbody>
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">1</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Rosters for the past 4 payroll cycles being analysed</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">2</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Timesheets for the past 4 payroll cycles being analysed</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">3</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Payslips of all employees for payroll cycles being analysed</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">4</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">For every employee, a list of the following details: position titles, start date, date of birth and status (i.e casual, part time or full time)</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">5</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">A copy of an employee contract</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">6</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Bank statements and/or receipts which show the wages paid into employee&#39;s bank accounts for the past 4 payroll cycles</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">7</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">A copy of a bank statement which shows the amounts paid to each employee&#39;s superannuation account for the last payment made.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. -->
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- Bullet List : END --><!-- Bullet List : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto" width="100%"><!-- Entry : BEGIN -->
          <tbody>
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Once ALL documentation has been provided we will send you a quote for the desk based audit service.*</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">After the invoice has been paid, the auditor will commence the auditing process.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">The auditor analyses the documentation and generates a report, detailing your average score compared with other similar businesses in the industry.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">The report provides recommendations and findings which we think may be an issue or cause your business to be uncompliant with Australian legislation.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">The report is rechecked by an ex-Fair Work Ombudsman Inspector.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">The report is e-mailed to you electronically. There is typically a one week turn-around for report completion.</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. -->
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- Bullet List : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 13px; line-height: 160%; color: #555555;">
        <p style="margin: 0 0 0px; font-weight: normal;">*The quote is based on the difficulty of the assignment. For example, businesses that use a payroll system (e.g. MYOB, Xero) usually provide required information in a clear concise manner. Some businesses may hand write their payroll records and rosters, which makes the audit a lengthier process and therefore may be charged for extra time. **ALL documentation required must be received before a quote can be provided, so the auditor is aware of the length of time required to complete the assignment. *** ALL invoices must be paid in full prior to the audit process beginning. **** There is typically a one week turn-around for report completion once the invoice has been paid.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#7a003c">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">I want to go ahead with the audit, what do I do?</h2>

        <p style="margin: 0 0 20px; font-weight: normal;">Simply visit our <a href="https://www.surveymonkey.com/r/NNYVQPG" style="text-decoration: none; color:#bd9b04; font-weight:bold ">online form HERE</a> and follow all instructions. Once we receive the required documentation we will contact you by phone and e-mail a quote/invoice through.</p>

        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">Any questions/queries?</h2>

        <p style="margin: 0 0 0px; font-weight: normal;">Please do not hesitate to contact ER Strategies on 1300 55 66 37 or e-mail us at <a href="" style="text-decoration: none; color:#bd9b04; font-weight:bold ">audits@erstrategies.com.au</a></p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END -->

</table>
{% endblock %}
