{% set title = 'ERS11851_EBA-Our-EBA-Service-Options' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#ffffff">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px 40px 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                      <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
                      <p style="margin: 0 0 16px;">Thanks for enquiring about how we can assist you in your EBA negotiations.</p>
                      <p style="margin: 0 0 16px;">To provide you with your key options, I have provided you with information about our service options, including:</p>
                  </td>
              </tr>
              <tr>
                  <td style="padding: 0 60px 20px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                      <tr>
                        <td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">1.</span></td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">An “In-house Intensive”</p></td>
                      </tr>
                      <tr>
                        <td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">2.</span></td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">An Enterprise Bargaining Strategy and Planning Masterclass</p></td>
                      </tr>
                      <tr>
                        <td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">3.</span></td>
                        <td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">Our all-inclusive ongoing ER compliance service, called WorkShield.</p></td>
                      </tr>
                    </table>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#F9F9F9">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                    <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">1. Intensive Pricing</h2>
        						<p style="margin: 0 0 20px; font-weight: bold; font-size: 16px; color: 000000">Pricing for the Intensives are detailed here</p>
        						<p style="margin: 0 0 16px; font-weight: normal;">Full-day sessions are $5750 for one consultant (myself, or we can provide you with pricing for two senior consultants if you require).</p>
        						<p style="margin: 0 0 16px; font-weight: normal;">We also prepare a full report detailing the ground covered and outcomes from the intensive. However, we can offer a further $1000 price reduction to $4750 (single consultant price) if we do not provide the written report.</p>
        						<p style="margin: 0 0 16px; font-weight: normal;">Half-day sessions with a single consultant would be $4750, or a further $1000 price reduction to $3750 if we do not provide the written report.</p>
        						<p style="margin: 0 0 16px; font-weight: normal;">We would work with you beforehand to get a sufficiently good grasp of your issues to ensure the workshop was a success in meeting your EBA planning needs.</p>
        						<p style="margin: 0 0 30px; font-weight: normal;">This link also provides <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqH85uP-2FKE2vKJXL0hs9Vg78rkpYau6ZBO-2FRvF8WB49C4jnuPlNLPZnirXFaqjFWRKl58uBA73yfLA-2FfFw1UoeT5u2wtW8zHqbEr-2FPLLrht-2FKujb35WTTTMMezqmDWHIwg-3D-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFpR1CV80AyW3U7miP6OEDV1GDKBaOpl6yQIsoywVud40KlADVH-2FQiNgqb9kaTDQOd66Usg6N6pwKqp3KrzN178FY7-2BqRCQkpzVF8SdsDG1OKoz0-2FVzEwwLqNlZeqGTz00erNcEQNEVdgPVdPP0x8fDozSI6YFQ8ZTSY9e6Vj5RCgrGmhmIS7gca58OxQrJYSp4-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">information about the model</a> we use in the Masterclasses and also the in-house strategy sessions.</p>

        						<h2 style="margin: 0 0 20px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">2. In-house Masterclass</h2>
        						<p style="margin: 0 0 16px; font-weight: normal;">Cost to you for the in-house course is $11,000 (GST incl.) for up to 8 participants, plus where required reasonable travel, 2 nights accommodation and meals for the 2 presenters (normally Fred Bolling and myself, or alternative presenter of equivalent experience and standing). You are also responsible for venue arrangements, such as meeting room hire, data projector, meals and refreshments and other requirements.</p>
        						<p style="margin: 0 0 30px; font-weight: normal;">You are welcome to get people from other companies or organisations to attend and use that income to offset your costs, if you so wish.</p>

        						<h2 style="margin: 0 0 20px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #7a003c; font-weight: bold;">3. WorkShield</h2>
        						<p style="margin: 0 0 16px; font-weight: normal;">Our new(-ish), all-inclusive WorkShield service package has been available to clients in the franchising and multi-site retail sectors since mid-2017 and is now being made available to clients outside those areas. [The package might be new, but we have been providing the core elements of the service to a range of clients for over 18 years.]</p>
        						<p style="margin: 0 0 16px; font-weight: normal;">I have included an early draft version of our marketing materials relating to the WorkShield service, to give you a flavour of what is included under WorkShield. Critical for your needs is that it includes unlimited assistance with your enterprise bargaining needs (including developing your strategy and assisting you with training on bargaining tactics), in addition to all the other WorkShield benefits such as unlimited telephone advice, representation in unlimited employee disputes (such as unfair dismissals and GP claims), and an annual audit of your business&rsquo;s HR systems.</p>
        						<p style="margin: 0 0 0px; font-weight: normal;">If this option is of interest, we can provide our WorkShield client agreement for all the details of the service.</p>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
  <!-- 1 Column Text : BEGIN -->
		<tr>
			<td bgcolor="#7a003c">
			<table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
				<tbody>
					<tr>
						<td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
						<h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">Want to proceed?</h2>
						<p style="margin: 0 0 16px; font-weight: normal;">If you wish to proceed with either our In-house Intensive or Masterclass, please respond to this email advising your preference and we will prepare your invoice for 50% of the amount as a deposit. Alternatively, I would be delighted to talk to you further about your situation and how we might be able to assist.</p>
						<p style="margin: 0 0 16px; font-weight: normal;">Alternatively, if it is our all-inclusive WorkShield package, which appeals to you, I can forward you all the details of what you get under the WorkShield package.</p>
						<p style="margin: 0 0 0px; font-weight: normal;">Let me know how I can further assist.</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
		</tr>
		<!-- 1 Column Text : END -->
</table>
{% endblock %}
