{% set title = 'ERS11851_Online_HR_Resources_Trial_Log-In' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>

        <p style="margin: 0 0 0px; font-weight: normal;">We have received your request for a trial log-in to our Online HR Resources Service.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: normal;">&nbsp;</p>

        <p style="margin: 0 0 16px; font-weight: normal;">To access this system, please go to this URL address: <a href="http://www.erstrategies.com.au/user" style="text-decoration: none; color:#bd9b04; font-weight:bold ">www.erstrategies.com.au/user</a></p>

        <p style="margin: 0 0 16px; font-weight: normal;">&nbsp;</p>

        <p style="margin: 0 0 16px; font-weight: bold;">You need to enter the following login details:</p>

        <p style="margin: 0 0 16px; font-weight: normal;">&nbsp;</p>

        <p style="margin: 0 0 16px; font-weight: normal;"><strong>Username:</strong> public<br />
        <strong>Password:</strong> demo</p>

        <p style="margin: 0 0 10px; font-weight: normal;">&nbsp;</p>

        <p style="margin: 0 0 16px; font-weight: normal;">Hit <strong>&#39;ok&#39;</strong> and you will gain access to the <strong>&#39;trial version&#39;</strong> of the Online HR Service.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 0px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: normal;">The &#39;trial version&#39; has the same look and feel as the complete version of the Online HR Service. There are a limited number of documents available in the trial version, however the Index provides a sample list of the documents available in the complete version.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">If you would like to subscribe to our Online HR Resources Service, simply complete the attached form and return to <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">accounts@erstrategies.com.au</a></p>

        <p style="margin: 0 0 16px; font-weight: normal;">If you have any problems or questions, please contact us <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">02 8907 3888</a> or <a href="#" style="text-decoration: none; color:#555555; font-weight:bold ">1300 55 66 37.</a></p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
