{% set title = 'ERS11851_EBA-Voting-and-Documentation
' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#ffffff">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px 40px 10px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                      <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
                      <p style="margin: 0 0 16px;">Attached are all the documents required to start the vote process. It is important that all employees receive the attached documentation 8 days before the vote occurs. The vote is scheduled to occur on XXXXX.</p>
                      <p style="margin: 0 0 16px;">If the documents cannot be provided before XXXXX, please notify us straight away and we will change the voting period. Once the documents have been given to all staff can you email me the date and how they received the notice. The specific steps of how it was done will be required for when were at the approval stage.</p>
                      <p style="margin: 0;">Once we have a successful vote we have 14 days to lodge the correct documentation with the Fair Work Commission for approval. Once the vote is completed if you can complete the following information I will finalise the documentation needed for lodgement.</p>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->

  <!-- Table : BEGIN -->
		<tr>
			<td align="center" bgcolor="#ffffff" style="padding: 10px 40px;" valign="top">
			<table border="1" cellpadding="0" cellspacing="0" role="presentation" width="100%"><!-- Column : BEGIN -->
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">How many employees will be covered by the agreement?</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">How many employees cast a valid vote?</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">How many employees voted to approve the agreement?</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
			</table>
			</td>
			<!-- Column : END -->
		</tr>
		<!-- Table : END -->


    <!-- Table2 : BEGIN -->
		<tr>
			<td align="center" bgcolor="#ffffff" style="padding: 10px 40px;" valign="top">
			<table border="1" cellpadding="0" cellspacing="0" role="presentation" width="100%"><!-- Column : BEGIN -->
				<tbody>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;"><strong>Demographic group</strong></p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;"><strong>Number of employees</strong></p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Female</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Non-English speaking background</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Aboriginal or Torres Strait Islander</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Disabled</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Part-time</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Casual</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Under 21 years of age</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
					<tr valign="top">
						<td bgcolor="f2f2f2" style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">Over 45 years of age</p>
						</td>
						<td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: left;">
						<p style="margin: 0;">&nbsp;</p>
						</td>
					</tr>
				</tbody>
			</table>
			</td>
			<!-- Column : END -->
		</tr>
		<!-- Table2 : END -->

  <!-- 1 Column Text : BEGIN -->
  <tr>
      <td bgcolor="#ffffff">
          <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
              <tr>
                  <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                      <p style="margin: 0 0 16px;">[DELETE IF EPAS/WS]Please note: Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price. Any work in excess of these two hours is billable at hourly rates.</p>
                  </td>
              </tr>
          </table>
      </td>
  </tr>
  <!-- 1 Column Text : END -->
</table>
{% endblock %}
