{% set title = 'ERS11851_EBA-Agreement-approved' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<tr>
<td bgcolor="#7a003c" style="border-bottom: 5px solid #bd9b04">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td style="padding: 20px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center">
<img src="http://www.ballistixwip.com/_clientfiles/ER-Strategies/ERS11724_Subscription-edm-template/er-strategies.png" width="91" height="59" alt="ER Strategies" border="0" class="fluid" style="max-width: 100%; height: auto; font-family: sans-serif; font-size: 15px; line-height: 1;">
</td>
</tr>
</table>
</td>
</tr>
</table>
{% endblock %}
