{% set title = 'ERS11851_Online_HR_Audits_Hourly_Rates' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">

<!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#ffffff">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>

        <p style="margin: 0 0 16px; font-weight: normal;">There are a number of ways we can assist your company.</p>

        <p style="margin: 0 0 0px; font-weight: normal;">Our <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqrBloLMTVi4neC2m-2Fb7m26f3b01rT9V4F2imncjU4sCHqZ6r7YgDHSn7qV0AeaFVHhPtm6HxEL7OtGT4Peud0k-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp4QoTtsDVL7r0CcK5rmj9-2BVYefoSxvHtHl6X18E166F4J2YJ7TagciNib-2BoaYime8eTw4-2F4FOClQZzIJcnu7VG5yLMJgOif5SYcGsMI23t5oW-2F5i9HkSqs8sZ3kDO1hFry-2BZMnbrB8-2Bxc12sMAFPD8OQv8CVLOYpBW9-2BzqMwQAPDYzrFQUfAIR-2Babca-2Frlj0o-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">ER Strategies</a> and <a href="https://u5994906.ct.sendgrid.net/wf/click?upn=RTkOzlxpDAY-2FIC3yv2-2BGhqrBloLMTVi4neC2m-2Fb7m26v6mkyihXndW68iYoTjVoHCpG9rSBWRveJVwbSYRvbwzF896lpWnVtinctZBdWBgo-3D_DI3YR8bbQg1RkrH-2FMvjTlAwLlX-2FukZngSbcEiAsLHFp4QoTtsDVL7r0CcK5rmj9-2BVYefoSxvHtHl6X18E166F2ZOrbqBD4-2FqhUGrkeOL-2BTLgNIEVuZVEeKC8x7wGuDY4A4lf6DE7h3BoI1OibSmiqtwjbc8b31FuKyspVVcOJ4sPXU9Szo-2Bwpl6koGiOsvhXTOYxGviNbgaaQDMu0UGInYiKeB37VG7aOOcYPiyDU3I-3D" style="text-decoration: none; color:#bd9b04; font-weight:bold ">Enterprise Bargaining</a> websites include general information about how we can help employers such as your company, as well as a wealth of free articles about important ER issues and developments.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 0px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 17px; line-height: 125%; color: #333333; font-weight: bold;">1. Online HR Advisory Service</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">I have attached a brochure about this day-to-day working library of the important documentation you need to create a productive workplace, whilst meeting most of your employment obligations under Australian law. It provides a full set of HR-related documentation to help you run your business right, the first time.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">This way, you avoid unnecessary legal problems as well as encourage a healthy, productive working environment.</p>

        <p style="margin: 0 0 0px; font-weight: normal;">Our Online HR Advisory service includes additional tools to help you improve employee productivity, including:</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- Bullet List : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <table align="center" border="0" cellpadding="0" cellspacing="0" role="presentation" style="margin: auto" width="100%"><!-- Entry : BEGIN -->
          <tbody>
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Performance appraisal forms</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">Professionally drafted Letters of Offer</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">New employee Induction Checklist</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. --><!-- Entry : BEGIN -->
            <tr>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #7a003c;" valign="top" width="30px">
              <p style="margin: 0px 10px 16px 0px; font-weight: normal;">&bull;</p>
              </td>
              <td style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;" valign="top">
              <p style="margin: 0 0 16px; font-weight: normal;">A host of draft company policy templates</p>
              </td>
            </tr>
            <!-- Entry : END *** Duplicate this Entry section if needed to. -->
          </tbody>
        </table>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- Bullet List : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#f1f1f1">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 0px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
        <p style="margin: 0 0 16px; font-weight: normal;">We can provide up to 3 hours of included professional consulting time as part of your subscription to tailor the documents (including your employment contracts) to your specific requirements. We&rsquo;ll even create completely new documents that you need. You could also apply the time to seeking our advice about any other employment matters.</p>

        <p style="margin: 0 0 30px; font-weight: normal;">We offer an unconditional, money-back guarantee if you are not completely satisfied with the product or our services.</p>

        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 17px; line-height: 125%; color: #333333; font-weight: bold;">2. Hourly Consulting Services</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">We can also provide specialist consulting services for you on an hourly rates basis. I have attached one of our standard client agreements for your information.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">The cost of our hourly consulting services is determined by the quantity of work required, and the consultant working level on your issue.</p>

        <p style="margin: 0 0 30px; font-weight: normal;">Please contact us for more information.</p>

        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 17px; line-height: 125%; color: #333333; font-weight: bold;">3. Stand-Alone Payroll Audit Service</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">I have attached a detailed document which gives you information about our stand-alone Payroll Audit Service, including the specifics on pricing, terms and conditions.</p>

        <p style="margin: 0 0 16px; font-weight: normal;">I would be delighted to answer any questions you may have and can also supply you with a sample audit report if that would assist you - just let me know how I can assist.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END --><!-- 1 Column Text : BEGIN -->
<tr>
  <td bgcolor="#7a003c">
  <table border="0" cellpadding="0" cellspacing="0" role="presentation" width="100%">
    <tbody>
      <tr>
        <td style="padding: 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #ffffff;">
        <h2 style="margin: 0 0 10px 0; font-family: sans-serif; font-size: 18px; line-height: 125%; color: #ffffff; font-weight: bold;">Can We Further Assist?</h2>

        <p style="margin: 0 0 16px; font-weight: normal;">If you would like to discuss the detail of our services outlined, please don&rsquo;t hesitate to call me on <a href="" style="text-decoration: none; color:#bd9b04; font-weight:bold ">1300 55 66 37.</a></p>

        <p style="margin: 0 0 0px; font-weight: normal;">To proceed, simply reply to this email with your preferred service option and we can work with you to get things underway.</p>
        </td>
      </tr>
    </tbody>
  </table>
  </td>
</tr>
<!-- 1 Column Text : END -->

</table>
{% endblock %}
