{% set title = 'ERS11851_EBA-EA_and_Employee_Rep_Info_Needed' %}

{% extends "layout\layout.twig" %}

{% block page %}
<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
<!-- 1 Column Text : BEGIN -->
<tr>
<td bgcolor="#ffffff">
<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td style="padding: 40px 40px 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
<p style="margin: 0 0 16px; font-weight: bold;">Dear $contacts-firstname$</p>
<p style="margin: 0 0 16px; font-weight: normal;">As discussed, attached is the first draft of the Agreement. Once you have had a chance to go through it, let me know and we can go through the Agreement together and make any customisations or required changes.</p>
<p style="margin: 0 0 16px; font-weight: normal;">Please confirm the date of everyone receiving the Notice of Representational Rights document, as the earliest we can ask the employees to vote for the Agreement is 22 days after everyone has received that notice.</p>
<p style="margin: 0 0 20px; font-weight: normal;">For the vote date to occur, we need to provide to the employees 8 days before the vote the following documents:</p>
</td>
</tr>
<tr>
<td style="padding: 0px 60px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">

<table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
<tr>
<td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">1.</span></td>
<td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">A copy of the proposed EA;</p></td>
</tr>
<tr>
<td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">2.</span></td>
<td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">An explanation document of the differences between the proposed EA and Modern Award; and</p></td>
</tr>
<tr>
<td valign="top" width="10%" style="padding: 0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><span style="color:#7a003c; font-weight: bold">3.</span></td>
<td style="padding:0; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;"><p style="margin: 0px 0px 10px; font-weight: normal;">A document explaining the vote process.</p></td>
</tr>
</table>
</td>
</tr>
<tr>
<td style="padding: 10px 40px 20px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">

<p style="margin: 0 0 16px; font-weight: normal;">Once we have finalised the draft EA, I will be able to complete the explanation document of the EA. To complete the voting process explanation I will need details of one employee who can conduct the voting process. I normally suggest an employee who is respected and trusted by the other employees to conduct the vote. <strong>You will have to provide that employee&#39;s name and email address.</strong></p>

<p style="margin: 0 0 16px; font-weight: normal;">The above times are the bare minimum requirements under the legislation, so there is no pressure or need to rush to meet the proposed time frames and recommend you take your time reading and understanding the draft and its implications on your business.</p>

<p style="margin: 0 0 16px; font-weight: normal;">[DELETE IF EPAS/WS]Please note: Our EBA fixed quote provides up to two hours of incidental dealings with the Fair Work Commission in having the agreement approved under the BOOT test. These two hours have been included in our EBA fixed price. Any work in excess of these two hours is billable at hourly rates.</p>

<p style="margin: 0 0 16px; font-weight: normal;">If you have any questions on the process, please don&#39;t hesitate to contact us.</p>

</td>
</tr>
</table>
</td>
</tr>
<!-- 1 Column Text : END -->
</table>
{% endblock %}
