<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml" xmlns:o="urn:schemas-microsoft-com:office:office">
   <head>
      <meta charset="utf-8">
      <!-- utf-8 works for most cases -->
      <meta name="viewport" content="width=device-width">
      <!-- Forcing initial-scale shouldn't be necessary -->
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- Use the latest (edge) version of IE rendering engine -->
      <meta name="x-apple-disable-message-reformatting">
      <!-- Disable auto-scale in iOS 10 Mail entirely -->
      <title>{{ title }}</title>
      <!-- The title tag shows in email notifications, like Android 4.4. -->
      <!-- Web Font / @font-face : BEGIN -->
      <!-- NOTE: If web fonts are not required, lines 10 - 27 can be safely removed. -->
      <!-- Desktop Outlook chokes on web font references and defaults to Times New Roman, so we force a safe fallback font. -->
      <!--[if mso]>
      <style>
         * {
         font-family: sans-serif !important;
         }
      </style>
      <![endif]-->
      <!-- All other clients get the webfont reference; some will render the font and others will silently fail to the fallbacks. More on that here: http://stylecampaign.com/blog/2015/02/webfont-support-in-email/ -->
      <!--[if !mso]><!-->
      <!-- insert web font reference, eg: <link href='https://fonts.googleapis.com/css?family=Roboto:400,700' rel='stylesheet' type='text/css'> -->
      <!--<![endif]-->
      <!-- Web Font / @font-face : END -->
      <!-- CSS Reset : BEGIN -->
      <style>
         /* What it does: Remove spaces around the email design added by some email clients. */
         /* Beware: It can remove the padding / margin and add a background color to the compose a reply window. */
         html,
         body {
         margin: 0 auto !important;
         padding: 0 !important;
         height: 100% !important;
         width: 100% !important;
         }
         /* What it does: Stops email clients resizing small text. */
         * {
         -ms-text-size-adjust: 100%;
         -webkit-text-size-adjust: 100%;
         }
         /* What it does: Centers email on Android 4.4 */
         div[style*="margin: 16px 0"] {
         margin: 0 !important;
         }
         /* What it does: Stops Outlook from adding extra spacing to tables. */
         table,
         td {
         mso-table-lspace: 0pt !important;
         mso-table-rspace: 0pt !important;
         }
         /* What it does: Fixes webkit padding issue. Fix for Yahoo mail table alignment bug. Applies table-layout to the first 2 tables then removes for anything nested deeper. */
         table {
         border-spacing: 0 !important;
         border-collapse: collapse !important;
         table-layout: fixed !important;
         margin: 0 auto !important;
         }
         table table table {
         table-layout: auto;
         }
         /* What it does: Uses a better rendering method when resizing images in IE. */
         img {
         -ms-interpolation-mode: bicubic;
         }
         /* What it does: A work-around for email clients meddling in triggered links. */
         *[x-apple-data-detectors],
         /* iOS */
         .x-gmail-data-detectors,
         /* Gmail */
         .x-gmail-data-detectors *,
         .aBn {
         border-bottom: 0 !important;
         cursor: default !important;
         color: inherit !important;
         text-decoration: none !important;
         font-size: inherit !important;
         font-family: inherit !important;
         font-weight: inherit !important;
         line-height: inherit !important;
         }
         /* What it does: Prevents Gmail from displaying an download button on large, non-linked images. */
         .a6S {
         display: none !important;
         opacity: 0.01 !important;
         }
         /* If the above doesn't work, add a .g-img class to any image in question. */
         img.g-img+div {
         display: none !important;
         }
         /* What it does: Prevents underlining the button text in Windows 10 */
         .button-link {
         text-decoration: none !important;
         }
         /* What it does: Removes right gutter in Gmail iOS app: https://github.com/TedGoas/Cerberus/issues/89  */
         /* Create one of these media queries for each additional viewport size you'd like to fix */
         /* iPhone 4, 4S, 5, 5S, 5C, and 5SE */
         @media only screen and (min-device-width: 320px) and (max-device-width: 374px) {
         .email-container {
         min-width: 320px !important;
         }
         }
         /* iPhone 6, 6S, 7, 8, and X */
         @media only screen and (min-device-width: 375px) and (max-device-width: 413px) {
         .email-container {
         min-width: 375px !important;
         }
         }
         /* iPhone 6+, 7+, and 8+ */
         @media only screen and (min-device-width: 414px) {
         .email-container {
         min-width: 414px !important;
         }
         }
      </style>
      <!-- CSS Reset : END -->
      <!-- Progressive Enhancements : BEGIN -->
      <style>
         /* What it does: Hover styles for buttons */
         .button-td,
         .button-a {
         transition: all 100ms ease-in;
         }
         .button-td:hover,
         .button-a:hover {
         background: #555555 !important;
         border-color: #555555 !important;
         }
         /* Media Queries */
         @media screen and (max-width: 600px) {
         .email-container {
         width: 100% !important;
         margin: auto !important;
         }
         /* What it does: Forces elements to resize to the full width of their container. Useful for resizing images beyond their max-width. */
         .fluid {
         max-width: 100% !important;
         height: auto !important;
         margin-left: auto !important;
         margin-right: auto !important;
         }
         /* What it does: Forces table cells into full-width rows. */
         .stack-column,
         .stack-column-center {
         display: block !important;
         width: 100% !important;
         max-width: 100% !important;
         direction: ltr !important;
         }
         /* And center justify these ones. */
         .stack-column-center {
         text-align: center !important;
         }
         /* What it does: Generic utility class for centering. Useful for images, buttons, and nested tables. */
         .center-on-narrow {
         text-align: center !important;
         display: block !important;
         margin-left: auto !important;
         margin-right: auto !important;
         float: none !important;
         }
         table.center-on-narrow {
         display: inline-block !important;
         }
         /* What it does: Adjust typography on small screens to improve readability */
         .email-container p {
         font-size: 17px !important;
         }
         }
      </style>
      <!-- Progressive Enhancements : END -->
      <!-- What it does: Makes background images in 72ppi Outlook render at correct size. -->
      <!--[if gte mso 9]>
      <xml>
         <o:OfficeDocumentSettings>
            <o:AllowPNG/>
            <o:PixelsPerInch>96</o:PixelsPerInch>
         </o:OfficeDocumentSettings>
      </xml>
      <![endif]-->
   </head>
   <body width="100%" style="margin: 0; mso-line-height-rule: exactly;">
      <center style="width: 100%; background: #E9E9E9; text-align: left;">
         <!--[if mso | IE]>
         <table role="presentation" border="0" cellpadding="0" cellspacing="0" width="100%" bgcolor="#E9E9E9">
            <tr>
               <td>
                  <![endif]-->
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
                     <tr>
                        <td bgcolor="#7a003c" style="border-bottom: 5px solid #bd9b04">
                           <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                 <td style="padding: 20px 40px 20px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; text-align: center">
                                    <img src="http://www.ballistixwip.com/_clientfiles/ER-Strategies/ERS11724_Subscription-edm-template/er-strategies.png" width="91" height="59" alt="ER Strategies" border="0" class="fluid" style="max-width: 100%; height: auto; font-family: sans-serif; font-size: 15px; line-height: 1;">
                                 </td>
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>

                   {% block page %}{% endblock %}

                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="margin: auto;" class="email-container">
                     <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 40px 40px 40px; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                           <p style="margin:0 0 16px;font-weight:bold;">Regards</p>
                           <p style="margin:0 0 16px;font-weight:normal;font-size:14px;"><span style="font-weight:bold;color:#7a003c;font-size:15px;">ER Strategies Team</span><br />
                              Employee Relations Strategies Pty Ltd ABN 53087680911<br />
                              <a href="http://www.erstrategies.com.au" style="text-decoration:none;color:#bd9b04;font-weight:bold;">www.erstrategies.com.au</a>
                           </p>
                           <p style="margin:0 0 16px;font-weight:normal;font-size:14px;"><span style="font-weight:bold;color:#7a003c;">E</span> $users-email1$<br />
                              <span style="font-weight:bold;color:#7a003c;">P</span> (02) 8907 3888
                           </p>
                           <p style="margin:0 0 0px;font-weight:normal;font-size:14px;">Suite 5.04, 32 Delhi Rd, North Ryde NSW 2113<br />
                              <span style="color:#A9A9A9;"><em><span style="font-size:10.5pt;font-family:Arial, sans-serif;">Navigating you through the minefield of workplace conflict!</span></em></span>
                           </p>
                        </td>
                     </tr>
                     <tr>
                        <td bgcolor="#232a33" align="center" valign="top" style="padding: 5px 20px 5px 20px; border-top: 5px solid #bd9b04">
                           <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                              <tr>
                                 <!-- Column : BEGIN -->
                                 <td class="stack-column-center">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                       <tr>
                                          <td style="padding: 20px; text-align: left" class="center-on-narrow">
                                             <img src="http://www.ballistixwip.com/_clientfiles/ER-Strategies/ERS11724_Subscription-edm-template/er-strategies.png" width="91" height="59"  border="0" class="fluid" style="max-width: 100%;height: auto; font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555;">
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                                 <!-- Column : END -->
                                 <!-- Column : BEGIN -->
                                 <td class="stack-column-center">
                                    <table role="presentation" cellspacing="0" cellpadding="0" border="0" width="100%">
                                       <tr>
                                          <td style="font-family: sans-serif; font-size: 15px; line-height: 140%; color: #555555; padding: 20px; text-align: right;" class="center-on-narrow">
                                             <a href="http://www.erstrategies.com.au" style="text-decoration: none; color:#cad2dd; font-weight:normal; font-size: 14px ">erstrategies.com.au</a>
                                          </td>
                                       </tr>
                                    </table>
                                 </td>
                                 <!-- Column : END -->
                              </tr>
                           </table>
                        </td>
                     </tr>
                  </table>
                  <!-- Email Footer : BEGIN -->
                  <table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" width="600" style="max-width: 600px; font-family: sans-serif; color: #888888; font-size: 12px; line-height: 140%;">
                     <tr>
                        <td bgcolor="#E9E9E9" style="padding: 40px 10px; width: 100%; font-family: sans-serif; font-size: 12px; line-height: 140%; text-align: center; color: #888888;" class="x-gmail-data-detectors">
                           <webversion style="color: #cccccc; text-decoration: underline; font-weight: bold;">View as a Web Page</webversion>
                           <br><br> Copyright © ER Strategies, All rights reserved.
                           <br><br>
                           <unsubscribe style="color: #888888; text-decoration: underline;">unsubscribe</unsubscribe>
                        </td>
                     </tr>
                  </table>
                  <!-- Email Footer : END -->
                  <!--[if mso | IE]>
                  </td>
                  </tr>
                  </table>
                  <![endif]-->
                  </center>
                  </body>
                  </html>
